*.log
*.pot
*.pyc
__pycache__/
core/settings.py
db.sqlite3
db.sqlite3-journal
migrations/
env/
.env
media/
frontend/
.vscode
templates/users/css/
templates/users/js/
templates/users/src/
templates/users/img/