<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="./assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="./assets/css/libs.bundle.css" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="./assets/css/theme.bundle.css" />

  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title>Ardu1na | e-commerce</title>

</head>
<body class="">

    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0  ">
        <div class="container-fluid">
            <div class="w-100">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
    
                    <!-- Logo-->
                    <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="./index.html">
                        <div class="d-flex align-items-center">
                            <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd"/></svg>
                        </div>
                    </a>
                    <!-- / Logo-->
    
                    <!-- Navbar Icons-->
                    <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">
    
                        <!-- Mobile Nav Toggler-->
                        <li class="d-lg-none">
                            <span class="nav-link text-body d-flex align-items-center cursor-pointer" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation"><i class="ri-menu-line ri-lg me-1"></i> Menu</span>
                        </li>
                        <!-- /Mobile Nav Toggler-->
    
    
                        </li>
                        <!-- /Navbar Search-->
    
    
                        <!-- Navbar Login-->
                        <li class="ms-1 d-none d-lg-inline-block" id="accountNav">
                            <!-- Content will be updated dynamically here -->
                        </li>
                        <!-- /Navbar Login-->
    
                        <!-- Navbar Cart Icon-->
                        <li id="shopNav" class="ms-1 d-inline-block position-relative dropdown-cart">
                                                      
    
                        </li>
                        <!-- /Navbar Cart Icon-->
    
                    </ul>
                    <!-- Navbar Icons-->                
    
                    <!-- Main Navigation-->
                    <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
                        id="navbarNavDropdown">
    
                        <!-- Menu-->
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Services                                   
                                  </a>
                                  <ul class="dropdown-menu" id="categories-container">
                                    
                                  </ul>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="./category.html" role="button">
                                  Products
                                </a>
                              </li>
                             
                          </ul>
                    <!-- / Menu-->
    
                    </div>
                    <!-- / Main Navigation-->
    
                </div>
            </div>
        </div>
    </nav>
    <!-- / Navbar-->    <!-- / Navbar-->

    <!-- Main Section-->
    <section class="mt-0 ">
        <!-- Page Content Goes Here -->
        
        <!-- Category Top Banner -->
        <div class="py-10 bg-img-cover bg-overlay-dark position-relative overflow-hidden bg-pos-center-center rounded-0"
            style="background-image: url(./assets/images/banners/banner-category-top.jpg);">
            <div class="container-fluid position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
                <h1 class="fw-bold display-6 mb-4 text-white"  id='category-title'></h1>
                <div class="col-12 col-md-6">
                    <p class="text-white mb-0 fs-5"  id='category-description'>
                    </p>
                </div>
            </div>
        </div>
        <!-- Category Top Banner -->

        <div class="container-fluid" data-aos="fade-in">
            <!-- Category Toolbar-->
                <div class="d-flex justify-content-between items-center pt-5 pb-4 flex-column flex-lg-row">
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#">Home</a></li>
                              <li class="breadcrumb-item"><a href="#">Services</a></li>
                              <li class="breadcrumb-item active" aria-current="page" id='category-title2'></li>
                            </ol>
                        </nav>

                        <h1 class="fw-bold fs-3 mb-2 " id='category-title3'></h1>
                    </div>

                </div>
                <!-- /Category Toolbar-->

            <!-- Products-->
            <div id="products-container" class="row g-4">

            </div>
            <!-- / Products-->

        </div>
        
        <!-- /Page Content -->
    </section>
    <!-- / Main Section-->

    <!-- Footer -->
    <footer class="border-top py-5 mt-4  ">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
                <div>
                    <ul class="list-unstyled">
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-instagram-fill"></i></a></li>
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-facebook-fill"></i></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
    <!-- / Footer-->
    
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>
        const apiBaseUrl = 'http://127.0.0.1:8000';

        fetch(`${apiBaseUrl}/api/shop/categories`)
            .then(response => response.json())
            .then(data => {
                renderCategories(data);
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });

        function renderCategories(categories) {
            const categoriesContainer = document.getElementById('categories-container');

            categories.forEach(category => {
                const categoryLink = document.createElement('a');
                categoryLink.className = 'dropdown-item';
                categoryLink.href = `./category.html?category_id=${category.id}`; // Dynamic URL with category ID
                categoryLink.textContent = category.name;

                const categoryListItem = document.createElement('li');
                categoryListItem.appendChild(categoryLink);

                categoriesContainer.appendChild(categoryListItem);
            });
        }
    </script>


    
    <script>

        
        // Function to extract query parameter value from URL
        function getQueryParam(param) {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return urlSearchParams.get(param);
        }

        const categoryId = getQueryParam('category_id');


                
        if (categoryId) {           
            
            fetch(`${apiBaseUrl}/api/shop/category/${categoryId}`)
            .then(response => response.json())
            .then(data => {
                populateCategoryDetail(data);
            })
            .catch(error => {
                console.error('Error fetching category data:', error);
            });

            function populateCategoryDetail(category) {
                const categoryTitleElement = document.getElementById('category-title');
    
                const categoryTitle2Element = document.getElementById('category-title2');
                const categoryTitle3Element = document.getElementById('category-title3');
                const productsContainer = document.getElementById('products-container'); 
                const categoryDescriptionElement = document.getElementById('category-description');
    
                categoryTitle2Element.textContent = category.name;
    
                categoryTitle3Element.textContent = category.name;
                categoryTitleElement.textContent = category.name;
    
                categoryDescriptionElement.textContent = category.description;
    
                category.products.forEach(product => {
                    const productCard = document.createElement('div');
                    productCard.classList.add('col-12', 'col-sm-6', 'col-lg-4');
            
                    productCard.innerHTML = `
                    <!-- Card Product-->
                            <div class="card border border-transparent position-relative overflow-hidden h-100 transparent">
                                <div class="card-img position-relative">
                                    <div class="card-badges">
                                            <span class="badge badge-card"><span class="f-w-2 f-h-2 bg-success rounded-circle d-block me-1"></span> New In</span>
                                    </div>
                                    <span class="position-absolute top-0 end-0 p-2 z-index-20 text-muted"><i class="ri-heart-line"></i></span>
                                    <picture class="position-relative overflow-hidden d-block bg-light">
                                        <img class="w-100 img-fluid position-relative z-index-10" src="${apiBaseUrl}/${product.image}" alt="">
                                    </picture>
                                        <div class="position-absolute start-0 bottom-0 end-0 z-index-20 p-2">
                                            <button  class="btn btn-quick-add"><i class="ri-add-line me-2"></i> Quick Add</button>
                                        </div>
                                </div>
                                <div class="card-body px-0">
                                    <a  data-product-id="${product.id}"  class="add-product-link text-decoration-none link-cover" href="#">${product.name}</a>
                                    <small class="text-muted d-block">${product.description} </small>
                                    <p class="mt-2 mb-0 small">$${product.price.toFixed(2)}</p>
                                </div>
                            </div>
                    <!--/ Card Product-->
                    `;
            
                    productsContainer.appendChild(productCard);
                });
            }
    

        } else {
        
        fetch(`${apiBaseUrl}/api/shop/products`)
            .then(response => response.json())
            .then(data => {
                renderProducts(data);
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });


            function renderProducts(products) {
                const productsContainer = document.getElementById('products-container'); 
    
                products.forEach(product => {
                    const productCard = document.createElement('div');
                    productCard.classList.add('col-12', 'col-sm-6', 'col-lg-4');
            
                    productCard.innerHTML = `
                    <!-- Card Product-->
                            <div   class="card border border-transparent position-relative overflow-hidden h-100 transparent">
                                <div class="card-img position-relative">
                                    <div class="card-badges">
                                    </div>
                                    <span class="position-absolute top-0 end-0 p-2 z-index-20 text-muted"><i class="ri-heart-line"></i></span>
                                    <picture class="position-relative overflow-hidden d-block bg-light">
                                        <img class="w-100 img-fluid position-relative z-index-10" src="${apiBaseUrl}/${product.image}" alt="">
                                    </picture>
                                        <div class="position-absolute start-0 bottom-0 end-0 z-index-20 p-2">
                                            <button  class="btn btn-quick-add"><i class="ri-add-line me-2"></i> Quick Add</button>
                                        </div>
                                </div>
                                <div class="card-body px-0">
                                    <a data-product-id="${product.id}" href="#" class="add-product-link text-decoration-none link-cover">${product.name}</a>
                                    <small class="text-muted d-block">${product.description} </small>
                                    <p class="mt-2 mb-0 small">$${product.price.toFixed(2)}</p>
                                </div>
                            </div>
                    <!--/ Card Product-->
                    `;
            
                    productsContainer.appendChild(productCard);
                });}
            }
    </script>



    <script>
        // JavaScript code to fetch user authentication status from Django API
        const token = localStorage.getItem('token');
        const accountNav = document.getElementById('accountNav');

        const shopNav = document.getElementById('shopNav');
        
        if (token) {
            fetch('http://127.0.0.1:8000/test_token/', {
                method: 'GET',
                headers: {
                    'Authorization': `Token ${token}`
                }
            });
            accountNav.innerHTML = '<button class="btn nav-link text-body " id="logout-button">Logout</button>';
            
            shopNav.innerHTML = `
            <button class="nav-link me-0 disable-child-pointer border-0 p-0 bg-transparent text-body"
            type="button">
            Bag (2)
        </button>
        <div class="cart-dropdown dropdown-menu">
        
            <!-- Cart Header-->
            <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-4">
                <h6 class="fw-bolder m-0">Cart Summary (2 items)</h6>
                <i class="ri-close-circle-line text-muted ri-lg cursor-pointer btn-close-cart"></i>
            </div>
            <!-- / Cart Header-->
        
            <!-- Cart Items-->
            <div>
        
                <!-- Cart Product-->
                <div class="row mx-0 py-4 g-0 border-bottom">
                    <div class="col-2 position-relative">
                        <picture class="d-block ">
                            <img class="img-fluid" src="./assets/images/products/product-cart-1.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                        </picture>
                    </div>
                    <div class="col-9 offset-1">
                        <div>
                            <h6 class="justify-content-between d-flex align-items-start mb-2">
                                Nike Air VaporMax 2021
                                <i class="ri-close-line ms-3"></i>
                            </h6>
                            <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 9 / Qty: 1</span>
                        </div>
                        <p class="fw-bolder text-end text-muted m-0">$85.00</p>
                    </div>
                </div>
                <!-- Cart Product-->
                <div class="row mx-0 py-4 g-0 border-bottom">
                    <div class="col-2 position-relative">
                        <picture class="d-block ">
                            <img class="img-fluid" src="./assets/images/products/product-cart-2.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                        </picture>
                    </div>
                    <div class="col-9 offset-1">
                        <div>
                            <h6 class="justify-content-between d-flex align-items-start mb-2">
                                Nike ZoomX Vaporfly
                                <i class="ri-close-line ms-3"></i>
                            </h6>
                            <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 11 / Qty: 1</span>
                        </div>
                        <p class="fw-bolder text-end text-muted m-0">$125.00</p>
                    </div>
                </div>
            </div>
            <!-- /Cart Items-->
        
            <!-- Cart Summary-->
            <div>
                <div class="pt-3">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-start mb-4 mb-md-2">
                        <div>
                            <p class="m-0 fw-bold fs-5">Grand Total</p>
                            <span class="text-muted small">Inc $45.89 sales tax</span>
                        </div>
                        <p class="m-0 fs-5 fw-bold">$422.99</p>
                    </div>
                </div>
                <a href="./cart.html" class="btn btn-outline-dark w-100 text-center mt-4" role="button">View Cart</a>
                <a href="./checkout.html" class="btn btn-dark w-100 text-center mt-2" role="button">Proceed To Checkout</a>
            </div>
            <!-- / Cart Summary-->
          </div>
                `;
     
            } else {
                accountNav.innerHTML = '<a class="nav-link text-body" href="./users/login.html">Log in</a>';

                shopNav.innerHTML = '<a class="nav-link text-body" href="./users/signup.html">Signup</a>';
            }
    </script>


    <script>
      
        // Function to log out the user
        function logoutUser() {
          $.ajax({
            url: 'http://127.0.0.1:8000/logout/',
            type: 'POST',
            headers: {
              'Authorization': `Token ${token}`
            },
            success: function(response) {
              // Handle successful logout
              console.log(response.message);
      
              // Remove the token from local storage
              localStorage.removeItem('token');
      
              location.reload();
            },
            error: function(error) {
              // Handle error
              console.error('Error logging out:', error);
            }
          });
        }
      
        // Attach the logout function to the button click event
        $('#logout-button').click(logoutUser);
      </script>


      <script>
        document.addEventListener('DOMContentLoaded', function() {
            const productsContainer = document.getElementById('products-container');
        
            // Attach click event to the container element
            productsContainer.addEventListener('click', function(event) {
                const target = event.target;
        
                // Check if the clicked element has the class "add-product-link"
                if (target.classList.contains('add-product-link')) {
                    event.preventDefault(); // Prevent default link behavior
                    const productId = target.getAttribute('data-product-id');
                    addProductToCart(productId);
                }
            });
        
            // Function to add a product to the cart
            function addProductToCart(productId) {
                fetch(`${apiBaseUrl}/api/shop/cart/add/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'Authorization': `Token ${token}`
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // Handle the response from the cart API if needed
                    console.log('Product added to cart:', data);
                })
                .catch(error => {
                    console.error('Error adding product to cart:', error);
                });
            }
        });
        

    </script>
    

    <!-- Vendor JS -->
    <script src="./assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="./assets/js/theme.bundle.js"></script>

</body>

</html>
