<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="./assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="./assets/css/libs.bundle.css" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="./assets/css/theme.bundle.css" />

  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title>Ardu1na | e-commerce </title>

</head>
<body class="">

    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0  ">
        <div class="container-fluid">
            <div class="w-100">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
    
                    <!-- Logo-->
                    <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="./index.html">
                        <div class="d-flex align-items-center">
                            <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd"/></svg>
                        </div>
                    </a>
                    <!-- / Logo-->
    
                    <!-- Navbar Icons-->
                    <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">
    
                        <!-- Mobile Nav Toggler-->
                        <li class="d-lg-none">
                            <span class="nav-link text-body d-flex align-items-center cursor-pointer" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation"><i class="ri-menu-line ri-lg me-1"></i> Menu</span>
                        </li>
                        <!-- /Mobile Nav Toggler-->
    
    
                        </li>
                        <!-- /Navbar Search-->
    
    
                        <!-- Navbar Login-->
                        <li class="ms-1 d-none d-lg-inline-block" id="accountNav">
                            <!-- Content will be updated dynamically here -->
                        </li>
                        <!-- /Navbar Login-->
    
                        <!-- Navbar Cart Icon-->
                        <li id="shopNav" class="ms-1 d-inline-block position-relative dropdown-cart">
                            <button class="nav-link me-0 disable-child-pointer border-0 p-0 bg-transparent text-body"
                            type="button"> Bag </button>
                            <div id="cartDropd" class="cart-dropdown dropdown-menu">
                                <!-- Content will be updated dynamically here -->

                            </div>             
    
                        </li>
                        <!-- /Navbar Cart Icon-->
    
                    </ul>
                    <!-- Navbar Icons-->                
    
                    <!-- Main Navigation-->
                    <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
                        id="navbarNavDropdown">
    
                        <!-- Menu-->
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Services                                   
                                  </a>
                                  <ul class="dropdown-menu" id="categories-container">
                                    
                                  </ul>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="./category.html" role="button">
                                  Products
                                </a>
                              </li>
                             
                          </ul>
                    <!-- / Menu-->
    
                    </div>
                    <!-- / Main Navigation-->
    
                </div>
            </div>
        </div>
    </nav>
    <!-- / Navbar-->    <!-- / Navbar-->

    <!-- Main Section-->
    <div id='product-container' class="mt-0 ">
        <!-- Page Content Goes Here -->            
        
        <!-- Breadcrumbs-->
        <div class="bg-dark py-6">
            <div class="container-fluid">
                <nav class="m-0" aria-label="breadcrumb">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item breadcrumb-light"><a href="#">Home</a></li>
                      <li class="breadcrumb-item breadcrumb-light"><a href="#">Services</a></li>
                      <li  class="breadcrumb-item  breadcrumb-light" aria-current="page"><a id='product-category'></a></li>         <!-- TODO: add links dinamically here -->

                      <li  class="breadcrumb-item  breadcrumb-light active" aria-current="page"><a id='product-name'></a></li>        <!-- TODO: add links dinamically here -->

                    </ol>
                </nav>            </div>
        </div>
        <!-- / Breadcrumbs-->









        <div class="container-fluid mt-5">

            <!-- Product Top Section-->
            <div class="row g-9" data-sticky-container>

                <!-- Product Image-->
                <div class="col-12 col-md-6 col-xl-7">
                    <div class="row g-3" data-aos="fade-right">
                        <div class="col-12" id="image-product-container">
                            
                        </div>
                        
                    </div>
                </div>
                <!-- /Product Images-->
    
                <!-- Product Information-->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="sticky-top top-5">
                        <div class="pb-3" data-aos="fade-in">
                            <div class="d-flex align-items-center mb-3">
                                <p class="small fw-bolder text-uppercase tracking-wider text-muted m-0 me-4" id="product-category2"></p>
                                
                            </div>
                            </div>
                            
                            <h1 class="mb-1 fs-2 fw-bold" id="product-name-2"></h1>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="fs-4 m-0" id="product-price"></p>
                            </div>

                            <p class="my-5 mx-0" id="product-detail">Ups, seems that this product is gone.</p>
                            <div id="here-button">

                                
                            </div>

                            
                                                </div>                    </div>
                </div>
                <!-- / Product Information-->
            </div>
            <!-- / Product Top Section-->

            

        </div>


        <!-- /Page Content -->
    </div>
    <!-- / Main Section-->

    <!-- Footer -->
    <footer class="border-top py-5 mt-4  ">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
                <div>
                    <ul class="list-unstyled">
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-instagram-fill"></i></a></li>
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-facebook-fill"></i></a></li>
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-twitter-fill"></i></a></li>
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-snapchat-fill"></i></a></li>
                    </ul>
                </div>
                <div class="d-flex align-items-center justify-content-end flex-column flex-lg-row">
                    <ul class="list-unstyled mb-0 ms-lg-4 mt-3 mt-lg-0 d-flex justify-content-end align-items-center">
                        <li class="bg-light p-2 d-flex align-items-center justify-content-center me-2">
                            <i class="pi pi-sm pi-paypal"></i></li>
                        <li class="bg-light p-2 d-flex align-items-center justify-content-center me-2">
                            <i class="pi pi-sm pi-mastercard"></i></li>
                        <li class="bg-light p-2 d-flex align-items-center justify-content-center me-2">
                            <i class="pi pi-sm pi-american-express"></i></li>
                        <li class="bg-light p-2 d-flex align-items-center justify-content-center"><i
                                class="pi pi-sm pi-visa"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>    <!-- / Footer-->  


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        jQuery(document).ready(function($) {
            const apiBaseUrl = 'http://127.0.0.1:8000';
            const token = localStorage.getItem('token');


            function renderCategories(categories) {
                const categoriesContainer = document.getElementById('categories-container');

                categories.forEach(category => {
                    const categoryLink = document.createElement('a');
                    categoryLink.className = 'dropdown-item';
                    categoryLink.href = `./category.html?category_id=${category.id}`; // Dynamic URL with category ID
                    categoryLink.textContent = category.name;
    
                    const categoryListItem = document.createElement('li');
                    categoryListItem.appendChild(categoryLink);
    
                    categoriesContainer.appendChild(categoryListItem);
                });
            }            

            
            // Fetch and render categories
            fetch(`${apiBaseUrl}/api/shop/categories`)
                .then(response => response.json())
                .then(data => {
                    renderCategories(data);
                })
                .catch(error => {
                    console.error('Error fetching categories:', error);
                });







            // Check user authentication and update UI
            if (token) {
                // Fetch and update user cart
                fetch(`${apiBaseUrl}/api/shop/cart/`, {
                    method: 'GET',
                    headers: {
                        'Authorization': `Token ${token}`
                    }
                }).then(response => response.json())
                    .then(data => {
                        cart = data.cart;
                        products = cart.products;
        
        
                        let cartItemsHTML = '';  // Initialize an empty string to store the generated HTML
        
                        // Loop through each product in the cart and generate HTML
                        products.forEach(product => {
                            cartItemsHTML += `
                                <!-- Cart Product -->
                                <div class="row mx-0 py-4 g-0 border-bottom">
                                    <div class="col-12">
                                        <div>
                                            <h6 class="justify-content-between d-flex align-items-start mb-2">
                                                ${product.product_name}
                                            </h6>
                                        </div>
                                        <p class="fw-bolder text-end text-muted m-0">$${product.subtotal.toFixed(2)}</p>
                                    </div>
                                </div>
                            `;
                        });
        
                        cartDropd.innerHTML = `
                            <!-- Cart Header -->
                            <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-4">
                                <h6 class="fw-bolder m-0">Cart Summary (${cart.products_q} items)</h6>
                            </div>
                            <!-- ... -->
        
                            <!-- Cart Items -->
                            <div>
                                ${cartItemsHTML}
                            </div>
                            <!-- /Cart Items -->
        
                            <!-- Cart Summary -->
                            <div>
                                <div class="pt-3">
                                    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-start mb-4 mb-md-2">
                                        <div>
                                            <p class="m-0 fw-bold fs-5">Grand Total</p>
                                        </div>
                                        <p class="m-0 fs-5 fw-bold">$${cart.total}</p>
                                    </div>
                                </div>
                                <a href="./cart.html" class="btn btn-outline-dark w-100 text-center mt-4" role="button">View Cart</a>
                                <a href="./checkout.html" class="btn btn-dark w-100 text-center mt-2" role="button">Proceed To Checkout</a>
                            </div>
                            <!-- ... -->
                        `;                    })
                    .catch(error => {
                        console.error('Error fetching cart:', error);
                    });

                $('#accountNav').html('<button class="btn nav-link text-body " id="logout-button">Logout</button>');
            } else {
                $('#accountNav').html('<a class="nav-link text-body" href="./users/login.html">Log in</a>');
                $('#shopNav').html('<a class="nav-link text-body" href="./users/signup.html">Signup</a>');
                
            }




function getQueryParam(param) {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return urlSearchParams.get(param);
        }

        const productId = getQueryParam('product_id');


                
        if (productId) {           
            
            fetch(`${apiBaseUrl}/api/shop/product/${productId}`)
            .then(response => response.json())
            .then(data => {
                populateProductDetail(data);
            })
            .catch(error => {
                console.error('Error fetching product data:', error);
            });



            function populateProductDetail(product) {
                const categoryTitleElement = document.getElementById('product-category');
                const category2TitleElement = document.getElementById('product-category2');
                const productTitleElement = document.getElementById('product-name');
                const productTitleElement2 = document.getElementById('product-name-2');
                const imageProductContainer = document.getElementById('image-product-container'); 
                const productPrice = document.getElementById('product-price'); 
                const productDetail = document.getElementById('product-detail'); 

                const hereButton = document.getElementById('here-button'); 

                productPrice.textContent = '$'+ product.price.toFixed(2);
                categoryTitleElement.textContent = product.category_name;
                productDetail.textContent = product.description;

                category2TitleElement.textContent = product.category_name;
                productTitleElement.textContent = product.name;
                productTitleElement2.textContent = product.name;

                imageProductContainer.innerHTML = `
                <picture>
                    <img class="img-fluid" data-zoomable src="${apiBaseUrl}/${product.image}" alt="HTML ardu1na ${product.name}">


                </picture>               `;

                hereButton.innerHTML = `
                <button class="btn btn-dark w-100 mt-4 mb-0 hover-lift-sm hover-boxshadow" id="add-product">Add To Shopping Bag</button>
                `;

                                
                // "Add To Shopping Bag" button
                const addButton = document.getElementById('add-product');
                addButton.addEventListener('click', function() {
                    console.log('Add To Shopping Bag button clicked');
                    console.log('Product ID:', productId);

                    const token = localStorage.getItem('token');
                    if (!token) {
                        // User is not logged in, redirect to login page
                        window.location.href = './users/login.html'; 
                    } else {
                        // User is logged in, proceed to add product
                        fetch(`${apiBaseUrl}/api/shop/cart/add/${productId}/`, {
                            method: 'POST',
                            headers: {
                                'Authorization': `Token ${token}`
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            // Handle the response from the cart API if needed
                            console.log('Product added to cart:', data);
                            location.reload();
        
                        })
                        .catch(error => {
                            console.error('Error adding product to cart:', error);
                        });
                    }                });

                };
            };



                // Function to log out the user
        function logoutUser() {
            // Remove the token from local storage
            const token = localStorage.getItem('token');
            localStorage.removeItem('token');
   
    
            
            $.ajax({
              url: 'http://127.0.0.1:8000/logout/',
              type: 'POST',
              headers: {
                'Authorization': `Token ${token}`
              },
              success: function(response) {
                // Handle successful logout
                console.log(response.message);
        
                
              },
              error: function(error) {
                // Handle error
                console.error('Error logging out:', error);
              }
            });
  
            location.reload();
          }
        
          // Attach the logout function to the button click event
          $('#logout-button').click(logoutUser);});
    </script>



    <!-- Vendor JS -->
    <script src="./assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="./assets/js/theme.bundle.js"></script>
</body>

</html>
